.product-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 16px;
    background: #fff;
}

.product-table th,
.product-table td {
    padding: 14px 18px;
    border-bottom: 1px solid #ddd;
    font-size: 14px;
}

.product-table th {
    background: #f0f2f5;
    text-transform: uppercase;
    font-weight: bold;
}


.product-table th:nth-child(1),
.product-table td:nth-child(1) {
    width: 70px;
    text-align: center;
}


.product-table th:nth-child(2),
.product-table td:nth-child(2) {
    min-width: 300px;
}


.product-table th:nth-child(3),
.product-table td:nth-child(3) {
    width: 150px;
    text-align: right;
}

.product-table th:nth-child(4),
.product-table td:nth-child(4),
.product-table th:nth-child(5),
.product-table td:nth-child(5) {
    width: 110px;
    text-align: center;
}

.product-table th:nth-child(6),
.product-table td:nth-child(6) {
    width: 160px;
    text-align: center;
}


.product-table a {
    text-decoration: none;
    color: #1a73e8;
    font-weight: 500;
}

.product-table a:hover {
    text-decoration: underline;
}

.product-table tr:hover {
    background: #f9fafb;
}
